# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Old files (no longer needed in the container)
input.js
output.js
